<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ExpressoSizeTall" value="0.1"/>
    <add key="ExpressoSizeGrande" value="0.15"/>
    <add key="ExpressoSizeVenti" value="0.2"/>
    <add key="MochaSizeTall" value="0.1"/>
    <add key="MochaSizeGrande" value="0.15"/>
    <add key="MochaSizeVenti" value="0.2"/>
  </appSettings>
</configuration>
